<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
      addCustomer=function(){
          var customer = {};
          customer.name=$("#name").val();
          customer.email=$("#email").val();
          customer.phone=$("#phone").val();
          customer.address=$("#address").val();
          $.ajax({
          type: "POST",
          url: "/api/customers",
          data: customer,
          success: function(result){
            if(result == "success"){
              location="/customers";
            }
          }
        });
      }
    </script> 
    <h1><%= title %></h1>
    <input id='name' type="text" name="" placeholder="name"><br/><br/>
    <input id='email' type="text" name="" placeholder="email"><br/><br/>
    <input id='phone' type="text" name="" placeholder="phone"><br/><br/>
    <input id='address' type="text" name="" placeholder="address"><br/><br/>
    <input type="button" name="" onclick="addCustomer()" value="Add"><br/><br/>
  </body>
</html>
